
<div class="ui form">
  <div class="grouped inline fields">
    {{#each capitulos.Data as |capitulo|}}
      <div class="field">
        {{ui-radio
          name=name
          label=capitulo.Nombre
          value=capitulo.Id
          onChecked=(action 'selectCapitulo' capitulo.Id)}}
      </div>
    {{/each}}
  </div>
</div>
