<h2 class="ui center aligned header">EmberINE</h2>
<button
  class="ui circular plus icon button"
  onClick={{action "toggleQueryFormVisibility"}}>
  <i class="plus icon"></i>
</button>

{{query-form
  isVisible=queryFormVisible
  model=model
  capitulos=capitulos
  select="selectSeries"}}
